
<% provide(:title, "Home") %>
  <h1> Playing with static pages with rails</h1>
  <ul>
    <h2> Benefits of this tutorial:</h2>
    <li>Very coool</li>
    <li>Very littt</li>
    <li>Very goodd</li>
    <li>Very eazyy</li>
  </ul>
  