<footer class="footer">
      <small>
        Solution by : Jstinmhar
        </small>
      <nav>
        <div id="twitter-profile">
         <%= link_to image_tag("twitter.png" , class: "footer-logo", alt: "twitter profile") , 'https://twitter.com/Jstinmhar' %>
         <%= link_to image_tag("github.png", class: "footer-logo", alt: "github profile"), 'https://github.com/Hannibalony' %>
        </div>
      </nav>
    </footer>